@import "tailwindcss";

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Medium.ttf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-SemiBold.ttf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Bold.ttf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplay-Semibold.otf") format("opentype");
}

body {
  font-family: "Manrope";
  margin: 0;
  background-color: #010d1c;
  color: #e8e8e8;
}

.btn1 {
  border-radius: 56px;
  background: radial-gradient(107% 86% at 86% 88%, #0000003b 0%, #00000000 86%),
    radial-gradient(
      84% 84% at 26% 20%,
      #ffffff69 0%,
      #ffffff00 70%,
      #ffffff00 100%
    ),
    #256dc9;
  box-shadow: -2px -2px 4px 0px #ffffff26 inset, 2px 20px 32px 0px #00000080;
  color: white;
  padding: 14px 42px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.btn1.red {
  background: radial-gradient(107% 86% at 86% 88%, #0000003b 0%, #00000000 86%),
    radial-gradient(
      84% 84% at 26% 21%,
      #ffffff69 0%,
      #ffffff00 70%,
      #ffffff00 100%
    ),
    #df3a45;
}
.btn2 {
  border-radius: 56px;
  border: 1px solid #256dc9;
  background: radial-gradient(
      107% 85.59% at 86% 88%,
      #0000000d 0%,
      #00000000 86.18%
    ),
    radial-gradient(
      84% 84% at 26% 21%,
      #ffffff17 0%,
      #ffffff00 70%,
      #ffffff00 100%
    ),
    #011022;
  box-shadow: -2px -2px 4px 0px #ffffff26 inset, 2px 20px 32px 0px #00000080;
  color: #4f8fe1;
  padding: 14px 42px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.busybtn {
  opacity: 0.2;
  animation: pulse 1.5s infinite ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: not-allowed;
  filter: grayscale(0.8);
}
@keyframes pulse {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
}
